<!DOCTYPE html>
<html>
<head>
    <title>{{ id }}</title>
    <script src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        temporal="1";
        setInterval(function() {
            $(document).ready(
                    function(){

                        $.ajax({

                            url : 'http://127.0.0.1:8000/device/{{ id }}',
                            dataType : "json",
                            type: "GET",
                            success: function(data){
                                var tempo=data.url;
                                var event=data.reproduce;
                                var tipo=data.tipo;
                                var videos=document.getElementById('video');

                                if (tempo!=temporal){
                                    var video = $("#video");
                                    var imagen = $("#imagen");
                                    if (tipo="imagen"){
                                        imagen.attr("src",tempo);
                                        temporal=tempo;
                                    }
                                    if((tipo="audio") || (tipo="video")){
                                        video.attr("src",tempo);
                                        temporal=tempo;
                                    }
                                }
                                if (event=="play"){
                                    document.getElementById('video').play();
                                    videos.enterFullScreen();

                                }
                                if (event=="pause"){
                                    document.getElementById('video').pause();
                                }
                                if(event=="restart"){
                                    document.getElementById('video').currentTime = 0;
                                    document.getElementById('video').play();
                                }
                            },
                            error:function(error){
                                console.log("Error");
                            }
                        });
                    }
            );
        }, 100);
    </script>


</head>
<body>
<img id="imagen" src="">
<video  id="video" src="" controls="" autoplay="" >

</video>
</body>
</html>