<!DOCTYPE html>
<html>
<head>
    <title>{{ id }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        temporal="1";
        setInterval(function() {
                        $.ajax({
                            url:'/device/{{ id }}',
                            dataType :"json",
                            type:"GET",
                            cache:false,
                            success: function(data){
                                var tempo=data.url;

                                var event=data.reproduce;
                                var tipo=data.tipo;

                                if (tempo!=temporal){
                                    var video = $("#video");
                                    var imagen = $("#imagen");
                                    if (tipo=="imagen"){
                                        imagen.show();
                                        video.hide();
                                        imagen.attr("src",tempo);
                                        document.getElementById('video').pause();
                                        temporal=tempo;
                                    }
                                    if((tipo=="audio") || (tipo=="video")){
                                        video.show();
                                        imagen.hide();

                                        video.attr("src",tempo);
                                        temporal=tempo;
                                    }
                                }
                                if (event=="play"){
                                    document.getElementById('video').play();
                                    videos.enterFullScreen();

                                }
                                if (event=="pause"){
                                    document.getElementById('video').pause();
                                }
                                if(event=="restart"){
                                    document.getElementById('video').currentTime = 0;
                                    document.getElementById('video').play();
                                }
                            },
                            error:function(error){
                                console.log("Error");
                            }
                        });



        }, 100);
    </script>


</head>

<body>

<img id="imagen" src="" width="1400" height="880">
<video  id="video" src="" controls="" autoplay="" loop="" width="2500" height="1400"  >

</video>
</body>
</html>